<ion-header>
  <ion-toolbar >
    <ion-buttons  slot="start">
      <ion-menu-button color="primary" ></ion-menu-button>
      <!-- <ion-button color="primary" (click)="backPages()" >
        <ion-icon  slot="icon-only" name="menu"></ion-icon></ion-button> -->
      
    </ion-buttons>
    <ion-title align="center"> 
      Metodos de pagos
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card *ngFor="let item of list"  [color]=" item.isdefault ?  'primary':'default'" >
    <ion-card-content>
      <ion-buttons   >
        <ion-button [color]=" item.isdefault ?  'light':'medium'"   slot="end" >
          <ion-icon name="star"></ion-icon></ion-button>      
      </ion-buttons>  
      <div align="center"  class="centrado ion-align-self-center"  >  
        <div class="hijo"  >
          <ion-icon size="5" name="{{item.icon}}"  [color]=" item.isdefault ?  'light':'medium'"    ></ion-icon><br>
          <h1 >{{ item.payment }}</h1>
          <h2 > {{ item.desp }} </h2>
          <p  *ngIf="item.icon=='card'" >Termina en ***{{item.data_payment.numCard | slice:-4 }} </p>         
        </div>        
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="add" (click)="presentModal()" >     
    <ion-card-content class="centrado" align="center" >
      <div align="center"  class="ion-align-self-center hijo" >  
        <ion-icon size="5" name="add-circle"></ion-icon><br>
        <h2>Añadir una nueva Tarjeta de Credito</h2>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
