

<ion-content id="container" class="ion-align-items-center" align="center">
  <div>
    <img src="../../assets/img/portada_bandb2go.jpg">
  </div>
<!--   <div id="centro">
    <h1 padding>B&B2go</h1>
  </div>  --> 
  </ion-content>
<ion-footer id="pie">
  <div class="linea_pie"> </div>
  <ion-buttons align="center" >
   <ion-button class="button" [routerLink]="['/login']" shape="undefined"  style="margin: auto;"  size="large" expand="block" fill="outline" color="primary"  >
     Iniciar sesión </ion-button>    
   <ion-button class="button" [routerLink]="['/register']"  shape="undefined" style="margin: auto;"  size="large" expand="block" fill="solid" color="primary" strong="true" >
     Registrarme </ion-button>
 </ion-buttons>
</ion-footer>
