
<ion-content id="container" class="ion-align-items-center" align="center">
  <h1>B&B2go</h1>
  <ion-buttons align="center" >
    <ion-button [routerLink]="['/login']" shape="round"  style="margin: auto;"  size="large" expand="block" fill="outline" color="secondary"  >
      Iniciar Sesión</ion-button>    
    <ion-button  [routerLink]="['/register']"  shape="round" style="margin: auto;"  size="large" expand="block" fill="outline" color="primary"  >
      Registrarme</ion-button>
  </ion-buttons>
</ion-content>
