.container{
  color:red
}
ion-content{
  --background:#1C585C;
        display: flex;     
        align-items: center;
        justify-content: center; 
 
        #centro{
          background: #fff000;
          width: 200px;       
          height: 200px;
          position: absolute;
          padding-top: 40px;
          top:50%;
          left: 50%;           
          margin-top: -100px;
          margin-left: -100px;
          display: flexbox;
          justify-content: center;
          h1{
            font-size: 2.5em;
            padding: 20px 2px 5px 10px;
          }
        }
      }

ion-footer{
  padding:25px 5px 25px 5px;

  .button{
    height: 45px;
  }
}



