/* ion-content{
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
} */
ion-card{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0);
    h1{
        font-weight: bold;
        font-size: 2em;
        padding-bottom: 5px;
        text-shadow: 3px 3px #ec982b;
    }
    p{
        color: rgb(90, 90, 90);
        padding: 10px 0px 10px 0px;
        margin: 5px 0px 5px 0px;
    }
}

ion-card{
    ion-input {
        border-bottom: 1px solid rgb(184, 83, 0);
        margin-bottom: 15px;
    }
    ion-datetime {
        border-bottom: 1px solid rgb(184, 83, 0);
        color: #bfbfbf;
        margin-bottom: 15px;
    }
}


.login-register{
    display: flex;
    background-size: cover;
    align-items: center;
     background-color: white; 
    // background-image: url('../../../assets/images/background/fondo.jpg');
}
.login-box{
    // max-width: 400px;        
    min-width: 90%;
    margin: auto;   
    vertical-align: middle;
}  