<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="40">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/users/4.jpg" width="100" alt="user" class="img-circle">
                </div>
                <h3 class="m-b-0">{{ worker.name }} {{ worker.lastname }} </h3>
                <h6 class="m-t-0 "> {{ worker.businessName }} &amp; {{ worker.catName}}</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Subir Foto</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">1099</h3>
                        <small>Reservas</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">23,469</h3>
                        <small>Clientes</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Calificacion</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>       
     

    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="60">

        <mat-card>
            <form class="basic-form"> 
            <mat-tab-group>
                <mat-tab label="Perfil">
                    <ng-template mat-tab-label>
						<mat-icon>person</mat-icon>
					</ng-template>
                    <mat-card-content>
                        <mat-card-title>Datos Personales</mat-card-title>
                            <div fxLayout="row wrap">
                                <!-- column -->
                                <div fxFlex.gt-sm="30" fxFlex="30">
                                    <mat-form-field>
                                        <input matInput id="ced" name="ced" #ced="ngModel" required maxlength="13" minlength="10" disabled="{{isEditable}}" [(ngModel)]="worker.ced" placeholder="Cedula">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="70" fxFlex="70">
                                    <mat-form-field>
                                        <input matInput id="businessName" name="businessName" #businessName="ngModel" required disabled="{{isEditable}}" [(ngModel)]="worker.businessName"   placeholder="Razon Social">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="50" fxFlex="50">
                                    <mat-form-field>
                                        <input matInput   id="name" name="name" #name="ngModel" required disabled="{{isEditable}}" [(ngModel)]="worker.name"  placeholder="Nombre">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="50" fxFlex="50">
                                    <mat-form-field>
                                        <input matInput  id="lastname" name="lastname" #lastname="ngModel" required disabled="{{isEditable}}" [(ngModel)]="worker.lastname"  placeholder="Apellido">
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput  id="email" name="email" #email="ngModel" required disabled="{{isEditable}}" [(ngModel)]="worker.email"  placeholder="Email" type="email">
                                    </mat-form-field>
                                </div>

                                <div fxFlex.gt-sm="50" fxFlex="50">
                                    <mat-form-field>
                                        <input matInput  id="phone1" name="phone1" #phone1="ngModel" required disabled="{{isEditable}}" [(ngModel)]="worker.phone1"  placeholder="Telefono" type="text">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="50" fxFlex="50">
                                    <mat-form-field>
                                        <input matInput  id="phone2" name="phone2" #phone2="ngModel"  disabled="{{isEditable}}" [(ngModel)]="worker.phone2"  placeholder="Celular" type="text">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="80" fxFlex="80">
                                    <mat-form-field>
                                        <textarea   matInput  id="address" name="address" #address="ngModel" required disabled="{{isEditable}}" [(ngModel)]="worker.address"  placeholder="Direccion"></textarea>
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="20" fxFlex="20">
                                    <mat-form-field>
                                        <mat-select style="height: 36px;" disabled="{{isEditable}}" placeholder="Estado" [(ngModel)]="worker.status" id="status" name="status" >
                                            <mat-option  value="1">Aspirante</mat-option>
                                            <mat-option  value="2">Habilitado</mat-option>
                                            <mat-option  value="0">Deshabilitado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <br>                               
                            </div>  
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title> Datos Laborales </mat-panel-title>                                        
                                    </mat-expansion-panel-header>
                                    <div fxLayout="row wrap">
                                        <!-- column -->
                                        <div fxFlex.gt-sm="50" fxFlex="50">
                                            <mat-form-field>
                                                <mat-select disabled="{{isEditable}}" required placeholder="Categoria" [(ngModel)]="worker.id_category" id="id_category" name="id_category" >
                                                    <mat-option *ngFor="let item of Categories;" value="{{item.id}}">{{item.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <textarea matInput id="skill" name="skill" #skill="ngModel"  disabled="{{isEditable}}" [(ngModel)]="worker.skill"  placeholder="Habilidades" style="height: 100px;" ></textarea>
                                            </mat-form-field>
                                        </div>
                                        <!-- column -->
                                        <div fxFlex.gt-sm="50" fxFlex="50">                                     <mat-form-field>
                                                <textarea matInput id="experience" name="experience" #experience="ngModel"  disabled="{{isEditable}}" [(ngModel)]="worker.experience"  placeholder="Experencia" style="height: 157px; " ></textarea>
                                            </mat-form-field>                                            
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion> 
                            <br><br>
                            <div  fxLayout="row wrap" align="end">
                                <div fxFlex.gt-sm="80" fxFlex="80">
                                    <button right-align mat-raised-button color="basic" (click)="newWorker()">
                                        <mat-icon>add_circle</mat-icon>Nuevo
                                    </button>
                                </div>
                                <div  fxFlex.gt-sm="20" fxFlex="20"  *ngIf="!isNew; else elseBlock">
                                    <button *ngIf="isEditable" right-align mat-raised-button color="accent" (click)="editar()">
                                        <mat-icon>mode</mat-icon> editar
                                    </button>
                                    <button *ngIf="!isEditable" right-align mat-raised-button color="primary" (click)="guardar()">
                                        <mat-icon>save</mat-icon>Actualizar
                                    </button>
                                </div>
                                <ng-template  #elseBlock>
                                    <div fxFlex.gt-sm="20" fxFlex="20" >
                                        <button right-align mat-raised-button color="primary" (click)="guardar()">
                                            <mat-icon>save</mat-icon>Guardar
                                        </button>
                                    </div>
                                </ng-template>
                                
                            </div>
                            
                                       
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Horarios">
                    <ng-template mat-tab-label>
						<mat-icon>alarm</mat-icon>
					</ng-template>
                    <mat-card-content>
                        <mat-card-title>Datos Personales</mat-card-title>
                        <!-- ============================================================== -->
                        <!-- column -->
                        <!-- ============================================================== -->
                     
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Costos">
                    <ng-template mat-tab-label>
						<mat-icon>monetization_on</mat-icon>
					</ng-template>
                    <mat-card-content>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
           
            </form>
        </mat-card>       
    </div>
</div>
<div fxLayout="row wrap" *ngIf="!isNew">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Servicios</mat-card-title>
                <div align="end"> 
                    <button right-align mat-raised-button color="primary" (click)="createService()">
                        <mat-icon>add</mat-icon>nuevo
                    </button>
                </div>
                <br><br>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element let i = index;"> {{i +1 }} </td>
                      </ng-container>

                       <!-- Name Column -->
                       <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Categoria </th>
                        <td mat-cell *matCellDef="let element"> {{element.catName}} </td>
                      </ng-container>
                  
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="service">
                        <th mat-header-cell *matHeaderCellDef> Servicio </th>
                        <td mat-cell *matCellDef="let element"> {{element.serName}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="note">
                        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Precio </th>
                        <td mat-cell *matCellDef="let element"> {{element.price | currency : 'USD' }} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="iva">
                        <th mat-header-cell *matHeaderCellDef> IVA </th>
                        <td mat-cell *matCellDef="let element"> {{element.iva | currency : 'USD'}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.total | currency : 'USD'}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> Tiempo </th>
                        <td mat-cell *matCellDef="let element"> {{element.time.toDate() | date:'h:mm '}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> 
                          <mat-icon *ngIf="element.status ; else elseBlock">check</mat-icon>
                          <ng-template #elseBlock>
                              <mat-icon >close</mat-icon>
                          </ng-template>                   
                          </td>
                      </ng-container>
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="act">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element"> <button mat-icon-button color="accent" (click)="modifyCategory(element)" > <mat-icon>create</mat-icon> </button> </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>                 
            </mat-card-content>
        </mat-card>
    </div>
</div>