<ion-list>
  <ion-radio-group value="biff">
    <ion-item href="#" class="ion-activated">
      <ion-radio slot="start" value="biff"></ion-radio>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label>Efectivo</ion-label>
    </ion-item>
    <ion-item href="#" class="ion-activated">
      <ion-radio slot="start" value="giff"></ion-radio>
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-label>Tarjeta de credito</ion-label>
    </ion-item>
    <ion-item href="#">
      
      <ion-label align="right"> <ion-icon name="add" ></ion-icon> &nbsp; agregar otro metodo</ion-label>
    </ion-item>
  </ion-radio-group>  
</ion-list>

<ion-button  style="margin: auto;"  expand="block"  color="primary"  >
  Guardar</ion-button>  