ion-menu-button {
  color: var(--ion-color-primary);
  margin-top: 10px;
  width: 60px;
}

ion-toolbar{
  
  background-color: rgb(250, 160, 118);
  height: 60px;
  padding:0px;
  
  ion-title{
    text-align: center;
    /* margin: 10px 0px 0px 0px; */
    margin-top: 7px;
    font-weight: bolder;
  }
  .calendario{
    width: 60px;
    margin-top: 10px;
    color: var(--ion-color-primary)
  }
/*   ion-icon{
    margin-top: 13px;
    width: 60px;
  } */
}

ion-searchbar{
  height: 50px;
}

/* #container {
  text-align: center;
  // position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration:rgb(250, 160, 118);
} */
img{
  width: 200px;
}

