<ion-header>
  
</ion-header>
<ion-content>
  <div class="login-register">
    <div class="login-box">
      <ion-card>    
        <ion-card-content >
          <ion-buttons  slot="start">
            <ion-button color="primary" [routerLink]="['/firstpage']" >
              <ion-icon  slot="icon-only" name="chevron-back"></ion-icon></ion-button>
          </ion-buttons>
          <h1 align="center"> B&B2go </h1>
          <ion-grid>
            <ion-row>
              <ion-col>
                <!-- <ion-label  class="input_tittle" position="fixed">Email</ion-label> -->
                <ion-input [(ngModel)]="user.email"  name="email" id="email" #email="ngModel" type="email"  placeholder="Email"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <!-- <ion-label  class="input_tittle" position="fixed">Contraseña</ion-label> -->
                <ion-input class="input" [(ngModel)]="user.password"  name="password" id="lastnpasswordame" #password="ngModel" type="password" placeholder="Contraseña"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="login()" shape="undefined"  style="margin: auto;"  size="large" expand="block" color="primary">
                  Ingresar
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p align="left"> conectate con: <br> </p>                
                  <ion-button  shape="undefined"   size="large" expand="block" fill="outline" color="tertiary"  >
                    <ion-icon name="logo-facebook">
                    </ion-icon>&nbsp;&nbsp;  Facebook
                  </ion-button>
                   <br>
                  <ion-button  shape="undefined"  size="large" expand="block" fill="outline" color="danger"  >
                    <ion-icon name="logo-google"></ion-icon>&nbsp; &nbsp;  Google</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>    
    </div>
  </div> 
  
</ion-content>
